.App {
	text-align: center;

	scroll-behavior: smooth;

	overflow-y: hidden;
	overflow-x: hidden;
}

@font-face {
	font-family: 'Satisfy-Regular';
	src: url('./assets/font-fanily/Satisfy-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Tangerine-Bold';
	src: url('./assets/font-fanily/Tangerine-Bold.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}
